nav {
	margin:27px auto 0;
	
	position:relative;
	width:1000px;
	height:50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size:0;
	text-align: center;
}
nav a{
	line-height: 40px;	
	height: 100%;
	font-size: 15px;
	display: inline-block;
	margin: 5px auto 0;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #f8f8f8;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1){
	width: 100px;
	text-align: center;
}
a:nth-child(2){
	width: 110px;
}
a:nth-child(3){
	width: 100px;
}
a:nth-child(4){
	width: 150px;
}

nav.start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 265px;
	background-color: #1abc9c;
}
nav.start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 365px;
	background-color: #e74c3c;
}
nav.start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 475px;
	background-color: #3498db;
}

nav.start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 575px;
	background-color: #9b59b6;
}
	

span {
	color: #2BD6B4;
}

